/*****BASE STYLES*****/
body {
  color: #2b2b2b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.content-wrapper {
    width: 90%;
}

ol, ul {
    list-style: none;
}

/*****HEADER*****/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.menu {
    background-color: #ebebeb;
    width: 100%;
}

header h1 {
  color: #bbc085;
  font-family: "Lora", serif;
  font-size: 5.5em;
  text-align: center;
  margin-bottom: 45px;
  padding: 20px 0;
}

.name,
.navigation {
  width: 100%;
  border-bottom:  1px solid #9b9b9b;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

nav ul li a {
color: #828282;
font-size: 3.125em;
padding: 15px 0;
text-decoration: none;
text-transform: capitalize;
}

.hero {
  background: url("../img/full-background.png");
  background-position: right;
  background-size: cover;
  height: 700px;
}

header h2 {
  color: #9b9b9b;
  font-family:"Lora", serif;
  font-size: 3.9em;
  line-height: 1.1;
  padding: 100px 0 20px 55px;
  margin-top: 0;
  width: 90%;
}

header h2 span {
  color: #2b2b2b;
}

/*****ABOUT SECTION*****/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#about .content-wrapper {
  margin-bottom: 50px;
}

.about-title, .about-text {
  width: 100%;
}

#about h2 {
  font-family: "Lora", serif;
  font-size: 3em;
  padding-left:50px;
}

#about p {
  color: #7f7f7f;
  font-size: 2em;
  line-height: 1.5;
  padding: 25px 50px 50px 50px;
}

/*****WORK SECTION*****/

#work .content-wrapper {
  background: #f9ceb7;
  text-align: center;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.html,
.css,
.designs {
    width: 100%;
}

#work img {
  padding: 75px 0 30px 0;
  height: 125px;
}

#work h3 {
  font-size:2.5em;
  line-height:32px;
  margin: 0 auto;
}

#work p {
  font-family:"Lora", serif;
  font-size: 2em;
  line-height: 1.5;
  padding: 0 50px;
}

/*****CONTACT SECTION*****/

footer .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

#contact {
  background-color: #ebebeb;
}

.contact-photo {
  width: 100%;
  text-align: center;
}

#contact-img {
  border: 12px solid #ffffff;
  margin-top: 50px;
}

.contact-title{
  font-family:"Lora", serif;
  font-size: 2em;
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
}

.email-text,
.social-text {
  text-align: center;
  margin: 80px 0;
  width: 100%;
}

#email-header {
  margin-top: 0;
}

#email-header,
#socialmedia-header {
  font-size: 2.75em;
  font-weight: normal;
  line-height: 44px;
}

.fa-envelope {
  margin-bottom: 12px;
  font-size: 1em;
}

.email-address {
  font-size: 2.5em;
}

#contact a {
  color: #c49075;
  font-weight:bold;
  text-decoration: none;
  margin-bottom: 25px;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  display: inline-block;
}

.social-text i {
  font-size: 3.75em;
  padding: 20px 63px;
}

/* ======================================================================================================================================= */

@media only screen and (min-width: 1200px) {
  /* Desktop Styles */

  header {
    background: url("../img/full-background.png");
    background-position: center;
    background-size: cover;
    height: 800px;
  }

  .menu {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 75px 125px;
  }

  .navigation, 
  .name {
    width: 45%;
    border-bottom: none;
  }

  header h1 {
    font-size: 1.875em;
    text-align: left;
    margin: 0;
    padding: 0 0 0 25px;
  }

  nav ul {
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  nav ul li a {
    font-size: 1.125em;
    padding: 0 25px;
  }

  header h2 {
    font-size: 4.5em;
    width: 80%;
    padding: 23px 0 0 145px;
  }

  .hero {
    background: none;
  }

 /*****ABOUT SECTION*****/

  #about .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  #about h2 {
    font-size: 2.25em;
    margin: 110px 0 0 48px;
  }

  .about-text {
    width: 45%;
  }

  #about p {
    font-size: 1.3125em;
    line-height: 2;
    padding: 25px 43px 50px 0;
    margin: 21px 0 21px 61px;
  }

  /*****WORK SECTION*****/

  #work .content-wrapper {
    padding: 135px 0;
  }

  .html,
  .css,
  .designs {
      width: 28%;
  }

  #work img {
    height: 85px;
    padding: 0 0 30px 0;
  }

  #work h3 {
    font-size: 1.5em;
    margin: 0 95px;
  }

  #work p {
    font-size: 1.125em;
    line-height: 30px;
  }

  /*****CONTACT SECTION*****/

  footer .content-wrapper {
    align-items: flex-start;
  }

  #contact-img {
    margin: 110px 0;
  }

  .contact-photo {
    width: 50%;
  }

  .all-contact-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    flex-flow: row wrap;
    margin-top: 140px;
  }

  .contact-title,
  .contact-title h2,
  .email-text,
  #email-header,
  .social-text {
    margin: 0;
    text-align: left;
  }

  .contact-title {
    font-size: 1.5em;
  }

  #email-header {
    font-size: 2em;
  }

  #contact a {
    font-size: 1.75em;
  }

  .fa-envelope {
    font-size: 1em;
  }

  #socialmedia-header {
    font-size: 1.8125em;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .social-text i {
    padding: 0 48px 0 0;
    font-size: 1em;
    font-weight: bold;
  }
}